<template>
    <div class="hello">
        <h2>Click on the button below to publish the posts on the server</h2>
        <p>The posts are retrieved from <a>https://jsonplaceholder.typicode.com/posts</a> and are saved in a MongoDB ready to be used by our service.</p>
        <p>MongoDB instance is embedded with the backend service. If the backend is restarted, then the data will therefore not be kept</p>
        <p>Note that publishing several times won't increase the amount of posts saved in db since the <strong>ids</strong> used as primary keys are the same between each calls.</p>
        <button @click="callPublishPosts()">Publish</button>
    </div>
</template>

<script>
    import api from "./post-collector-api.js";

    export default {
        name: 'PostsPublisher',
        data() {
            return {
                msg: 'HowTo call REST-Services:',
                errors: []
            }
        },
        methods: {
            // Fetches posts when the component is created.
            callPublishPosts() {
                api.publish().then(response => {
                    console.log(response.data)
                    window.alert("Successfully published")
                })
                    .catch(error => {
                        this.errors.push(error)
                    })
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
