<template>
    <div>
        <h2>Click on the button below to collect the first 50 posts</h2>
        <p>The posts will be returned as sorted alphabetically case-sensitive (ie. A &lt; .. &lt; Z &lt; a &lt; .. &lt; Z)</p>
        <button @click="callGetPosts()">collect</button>
        <div id="posts-json">
            <vue-json-pretty
                    :data="backendResponse"
                    @click="handleClick">
            </vue-json-pretty>
        </div>
    </div>
</template>

<script>
    import VueJsonPretty from 'vue-json-pretty'
    import api from "./post-collector-api.js";

    export default {
        components: {
            VueJsonPretty
        },
        name: 'PostsTable',
        data() {
            return {
                //collect at creation
                backendResponse: this.callGetPosts(),
                errors: []
            }
        },
        methods: {
            callGetPosts() {
                api.getPosts().then(response => {
                    this.backendResponse = response.data;
                    console.log(response.data)
                })
                    .catch(error => {
                        this.errors.push(error)
                    })
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    #posts-json {
        height: 20em;
        overflow: auto;
        text-align: left;
        margin: 0 40px 0;
    }

    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
