<template>
  <div id="app">
    <section>
      <h1>A simple <strong>Post</strong> collector</h1>
      <p>This page has been implemented with Vue.js and Spring Boot.</p>
      <div class="logos">
        <img alt="Spring logo" src="./assets/spring-logo.png">
        <img alt="Vue logo" src="./assets/vuejs-logo.png">
      </div>
    </section>
    <section>
      <PostsPublisher msg="Welcome to Your Vue.js App"/>
    </section>
    <section>
      <PostsTable msg="Welcome to Your Vue.js App"/>
    </section>
  </div>
</template>

<script>
import PostsPublisher from './components/PostsPublisher.vue'
import PostsTable from "@/components/PostsTable";

export default {
  name: 'App',
  components: {
    PostsPublisher,
    PostsTable
  }
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.logos img{
  display:inline;
  text-align: center;
  vertical-align:middle;
}
button {
  border-radius: 12px;
  padding: 20px;
  background-color: #42b983;
  border-color: grey;
  color: white;
}
</style>
